<div class="modal hide" id="AddModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Add Task</h3>
  </div>
  <div class="modal-body">
	<form class = "form-horizontal" name="input" action="/home/post_add.html" method="post">	
		<div class="control-group">
			<label class="control-label" for="taskName"><p>Task Name:</p></label>
			<div class="controls">
				<input type="text" class="input-medium" name="taskName">
            </div>
		</div>
		<div class="control-group">
            <label class="control-label" for="timeOut"><p>Days till timeout: </p></label>
            <div class="controls">
              	<select name="timeOut" class="span1">
	                <option>1</option>
	                <option>2</option>
	                <option>3</option>
	                <option selected = "selected">4</option>
	                <option>5</option>
					<option>6</option>
					<option>7</option>
              	</select>
            </div>
          </div>
		  <div class="control-group">
            <label class="control-label" for="lastCompleted"><p>Last Completed: </p></label>
            <div class="controls">
              	<script>
					$(function()
					{
						$('#datepicker').datepicker();
						
						$('#datepicker').datepicker().on('changeDate', function(ev)
						{
							$('#datepicker').datepicker('hide');
						});
					});
				</script>
				
				<div class="input-append date" id="datepicker" data-date="<%=Time.now.getlocal.strftime("%m/%d/%Y")%>">
				  <input class="span2" size="16" type="text" name="lastCompleted" value="<%=Time.now.getlocal.strftime("%m/%d/%Y")%>">
				  <span class="add-on"><i class="icon-th"></i></span>
				</div>
            </div>
          </div>
		  <div class="control-group">
           <label class="control-label" for= "emailOption"><p>Reminders: </p></label>
          <div class="controls">
			<label class="checkbox">
				<input type="checkbox" name="textOption" value="text" checked="checked"> Send me reminders by <b>text message</b>
			</label>
			<label class="checkbox">
				<input type="checkbox" name="emailOption" value="email"> Send me reminders by <b>email</b>
			</label>
          </div>
		</div>
		</div>
		<div class="modal-footer">
            <button type="submit" value = "Submit" class="btn btn-primary btn-large">Create Task!</button>
        </div>
	</form>
  </div>
</div>