<div class="container">
	
<h1> How It Works </h1>
<br/>
<div class="row">
        <div class="span6">
          <h3>What is Task Reminder?</h3>
          <p>We all have habitual tasks, chores, or events that need our attention on a regular basis. However, as life gets busy and hectic, we tend to neglect these fundamental tasks. Sometimes these tasks don’t need to be done on a particular day, but rather every certain number of days. This makes it especially hard to keep up such routines. Task Reminder was designed to help you keep up with these tasks by tracking when each task was last completed, and reminding you when it’s time to do it again. If you forget a task, Task Reminder will continually “nag” you until you’ve done it.
		 </p>
        </div>
        <div class="span6">
          <h3>How It Works</h3>
          <p>Each task has a “timeout” period, which is the minimum number of days between each completion of the task. For example, if you do Groceries once a week, set the timeout period to 7 days. Task Reminder will keep track of when the Groceries task is “due”, and will remind you the day it needs to be done (in this case, 7 days later). If the task hasn’t been completed after 7 days, it becomes “overdue”, and task reminder starts reminding you to do it. Tasks that are overdue are red, while those that are still in the clear and aren’t yet due are blue. To let Task Reminder know that you’ve completed a task, simply click on the task and it will update itself. Tasks are organized in order of priority.<br/>
		  </p>
       </div>
</div>
<br/>
<img src = "/TaskList.jpg" width = "900px">
<hr/>
<p>The beauty of Task Reminder lies in its ability to text you reminders. Once you’ve set up all your tasks and settings in the web browser, you never have to visit the website again. Task Reminder will use a single phone number to automatically send you text reminders for tasks that need to be done, and you can even text this number back to let the system know you’ve completed a task. Aside from changing settings or adding tasks, you can manage all your tasks simply through texting! That's right... no smartphone necessary!</p>

<h1>Task Reminder sends you two types of texts:</h1>
<br/>
<div class="row">
        <div class="span6">
          <h3>Daily reminder text</h3>
          <p>If any tasks are overdue or due today, Task Reminder will send you a morning reminder letting you know which tasks need to be completed. Of course, if all tasks are up to date, no text will be sent.<br/>
			<img src = "/reminder.jpg" width = "300px">
		  </p>
        </div>
        <div class="span6">
          <h3>Overdue reminder texts</h3>
          <p>Task Reminder will send out a text for each task that is overdue, reminding you to complete the task. This is in addition to the daily reminder text, and serves to nag you into completing the task<br/>
			<img src = "/overdue.jpg" width = "300px">
		  </p>
       </div>
</div>
<br/>
<hr/>
<h1>You can text Task Reminder the following commands:</h1>
<br/>
<div class="row">
        <div class="span4">
          <h3>Status</h3>
          <p>Text “status” to get the list of all your tasks and when they are due. This is the same list as the one you will see in the web application.<br/>
			<img src = "/status.jpg" width = "300px">
		  </p>
        </div>
        <div class="span4">
          <h3>Update</h3>
          <p>Text “update <em>[task name]</em>” when you’ve completed a task to let the system know it’s been done.<br/><br/>
			<img src = "/update.jpg" width = "300px">
		  </p>
       </div>
        <div class="span4">
          <h3>Tasks</h3>
          <p>Text “tasks” to get a list of tasks in the system<br/><br/><br/>
			<img src = "/list.jpg" width = "300px">
		  </p>
       </div>
</div>
<br/>
<p>If you forget any of these commands, simply text “commands” to get a list of commands</p>
<br/>
<br/>

<script>
	$('#about').addClass("active");
	$('#home').removeClass("active");
</script>
