<div class="container">
  <!-- hero unit -->
  <div class="hero-unit" style = "padding-top: 20px;">
	<h1 style = "font-size: 80px">Login</h1>
	<br/>
	<hr>
	<form class = "form-horizontal" name="input" action="post_login.html" method="post">	
		<fieldset>
			<p>Username: <input type = "text" class="input-large" style="height: 30px; font-size: 25px;"></p>
			<p>Password: <input type="password" class="input-large" style="height: 30px; font-size: 25px;"></p>
	        <button type="submit" value = "Submit" class="btn btn-primary btn-large">Login</button>
		</fieldset>
	</form>
</div>