<div class="container">
	
  	<div class="hero-unit" style = "padding-top: 20px; width: 950px;">
		<%= render :partial => 'login_form' %>
		<br/>
		<%= render :partial => 'register_form' %>
	</div>
	
	<script> document.getElementById("login").className="active" </script>